<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:"http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.srinidhi.ecm" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="@string/app_name" android:icon="@drawable/image1" android:debuggable="true">
        <activity android:label="@string/app_name" android:name=".MedicalproActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".splash" />
        <activity android:name=".diseaselist" />
        <activity android:name=".next" />
        <activity android:name=".tab" />
        <activity android:name=".diseaseinfo" />
        <activity android:name=".symp" />
        <activity android:name=".medication" />
        <activity android:name=".intermediate" />
        <activity android:name=".second" />
        <activity android:name=".notfnd" />
    </application>
</manifest>
